***Lambda function***

In [2]:
res = lambda x: x**2

res(5)

25

In [5]:
add = lambda a , b : a+b
add(2,2)

4

In [7]:
even = lambda x: x%2 == 0

even(3)

False

In [10]:
x = ["azaz" , 'lux' , 'babu' , 'harshit' , 'krana']

sorted(x,key = (lambda x : len(x)))

['lux', 'azaz', 'babu', 'krana', 'harshit']

In [12]:
fib = lambda n : n if n <= 1 else fib(n-1) + fib(n-2)

[fib(i) for i in range(10)]

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

In [13]:
def fact(n):
    if n == 0:
        return 1
    else:
        return n * fact(n-1)


fact(5)

120

In [14]:
fact = lambda n : 1 if n==0 else n * fact(n-1)
fact(5)

120

***Map function***

In [21]:
l = [1,2,3,4,5,6]

def sq(l):
    suq = []
    for i in l:
        suq.append(i**2)
    return suq



sq(l)

[1, 4, 9, 16, 25, 36]

In [34]:
res = map(lambda n : n**2 , l)
print(list(res))

[1, 4, 9, 16, 25, 36]

In [37]:
number = ["1" , '50' , '10' , '45']

res =  map(lambda x : int(x) , number)

print(list(res))

type(res)

[1, 50, 10, 45]

map

In [38]:
l1 = [100,200,300,400,500]
l2 = [1,2,3,4,5]

list(map(lambda x , y : x + y , l1 , l2))

[101, 202, 303, 404, 505]

In [43]:
name = 'md azaz'

list(map(lambda a : a.upper() , name))

['M', 'D', ' ', 'A', 'Z', 'A', 'Z']

***reduce function***

In [44]:
from functools import  reduce

In [50]:
l = [1,2,3,4,5,6]

reduce(lambda x , y : x+y , l)

21

In [51]:
def add(x,y):
    return x+y

reduce(add , l)

21

In [52]:
reduce(lambda x , y : x+y ,[1])

1

In [53]:
reduce(lambda x , y : x*y , l)

720

In [55]:
word = ["Data" , 'Science' , 'Courese']

reduce(lambda x , y : x + " " + y , word)

'Data Science Courese'

In [56]:
number = [100,200,800,4,1000]

reduce(lambda x , y : x if x>y else y , number)

1000

***filter function***

In [62]:
number = [100,200,800,4,1000 , 35 , 3 , 5 , 9]

list(filter(lambda x : x%2==0 , number))

[100, 200, 800, 4, 1000]

In [64]:
l1 = [-1,2,3,5,4,-5,-2]


list(filter(lambda x : x<0 , l1))

[-1, -5, -2]

In [65]:
l1 = [-1,2,3,5,4,-5,-2]


list(filter(lambda x : x>0 , l1))

[2, 3, 5, 4]

In [67]:
word = ["Data" , 'Science' , 'Courese' , 'om' , 'lux']

list(filter(lambda x : len(x) > 4 , word))

['Science', 'Courese']