In [1]:
z = 4 + 5j
type(z)

complex

In [2]:
x =5.02
type(x)

float

In [3]:
print(abs(-45))

45

In [4]:
print(pow(2,3))

8

In [7]:
print(round(4.75))

5

In [8]:
num   = [1,2,3,4,5,6,7]
print(min(num))

1

In [9]:
print(max(num))

7

*** String ***

In [12]:
name = 'md'

name1 = 'azaz'

In [14]:
fname = name + ' ' + name1
fname

'md azaz'

In [22]:
str = 'md azaz khan'
str

print(str[3 : 7])

azaz

In [23]:
print(str[3 : ])

azaz khan

In [26]:
print(str[ : 12])

md azaz khan

In [27]:
print(str[:])

md azaz khan

In [28]:
print(str.upper())

MD AZAZ KHAN

In [35]:
print(str.lower())
print(str.capitalize())
print(str.title())

md azaz khan
Md azaz khan
Md Azaz Khan
md azaz khan

In [39]:
str = "    AZAZ"
print(str)
print(str.strip())

    AZAZ
AZAZ

In [42]:
# replace method---------------------

str  = "hello dear , I am very good , I am very nice , I am wow"

print(str.replace("I am "," We are " , 2))

hello dear ,  We are very good ,  We are very nice , I am wow

In [44]:
# Escape charater -------------------------------

print('Hello \n Azaz')

Hello
 Azaz

***Learning List***

In [50]:
lists = ["azaz" , 'harshit' , 'lux' , 'babu']
print(lists)
type(lists)

['azaz', 'harshit', 'lux', 'babu']

list

In [51]:
print(lists[2])

lux

In [54]:
arr = [4,5,6,1]
arr.sort()
arr

[1, 4, 5, 6]

In [56]:
arr.append(1)
arr

[1, 4, 5, 6, 1, 1]

In [58]:
arr.insert(0,40)
arr

[40, 40, 1, 4, 5, 6, 1, 1]

In [61]:
l1 = [12 , 30]
l2 = ["azaz" , 'lux']

l1.extend(l2)

l1

[12, 30, 'azaz', 'lux']

In [63]:
arr = [1,4,7,8,5,2]

arr.remove(7)

arr

[1, 4, 8, 5, 2]

In [66]:
arr.pop()
arr

[1, 4, 8]

In [68]:
arr.pop(0)
arr

[4, 8]

In [71]:
arr.reverse()
arr

[8, 4]

In [72]:
new_l1 = arr.copy()
new_l1

[8, 4]

***Learning Tuple***

In [77]:
# Tuple

tuples = (1, 2, 3, 4, 5)
print(tuples)
type(tuples)

(1, 2, 3, 4, 5)

tuple

In [79]:
t1 = tuple([1,2,3,4])
t1

(1, 2, 3, 4)

In [81]:
t2 = tuple('azaz')
t3 = tuple('md')

print(t2 , t3)

('a', 'z', 'a', 'z') ('m', 'd')

In [85]:
t = (20)
type(t)

int

In [83]:
t = (20,)
type(t)

tuple

In [87]:
name = ('azaz', 'lux' ,'harshit' , 'babu' , 'karna')
print(name)
print(type(name))

('azaz', 'lux', 'harshit', 'babu', 'karna')
<class 'tuple'>

In [89]:
print(name.index("lux"))

1

In [90]:
print(len(name))

5

In [93]:
name[1] = "Om"

print(name)

## 'tuple' object does not support item assignment

TypeError: 'tuple' object does not support item assignment

In [92]:
print(name[1:3])

('lux', 'harshit')