<a href="https://colab.research.google.com/github/azaz9026/Python_Notes/blob/main/Functions_Revision.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. User-Define **Function**

User-defined functions in programming languages like Python allow you to create your own reusable blocks of code to perform specific tasks. Functions encapsulate logic, making the code modular, easier to understand, and maintainable.

In [ ]:
def greetings():
  print("Hi Everyone")

greetings()

Hi Everyone

In [ ]:
def greetings2(name):
  print("Hi" , name)

greetings2("Azaz")

Hi Azaz

In [ ]:
def sum(a,b):
  c = a+b
  return c

sum(1,2)

3

In [ ]:
sum("md" , "Azaz")

'mdAzaz'

In [ ]:
def sum():
  a = int(input("Enter your number a:"))
  b = int(input("Enter your number b:"))
  c = a + b
  return c

result = sum()
print(result)

Enter your number a:1
Enter your number b:1
2

In [ ]:
type(result)

int

In [ ]:
def sum2():
  a = int(input('Enter your number a: '))
  b = int(input('Enter your number b: '))
  print( a + b)

result1 = sum2()
print(result1)

Enter your number a: 1
Enter your number b: 1
2
None

In [ ]:
type(result1)

NoneType

In [ ]:
def travel_or_not (bike , car):
  print(f"You have BIKE: {bike}")
  print(f"You have CAR: {car}")
  print(f"You can travel 100 KMs: {bike or car}\n")


travel_or_not(True, False)

You have BIKE: True
You have CAR: False
You can travel 100 KMs: True

function to find the square of a number

In [ ]:
def square(x):
  return x**2

square(5)

25

function to find raise to power of x values

In [ ]:
def square(x , y):
  return x**y

square(5 , 2)

25

In [ ]:
lists = [1,2,3,4,5]
sum(lists)

15

def a a function sum_of_list which will return a summed uo value of list

In [ ]:


def sum_lists(n):
  s = 0
  for i in n:
    s = s + i
  return s


lists = [1,2,3,4,5]
sum_lists(lists)

15

function to accept list as an input and list of cube of odd numbers

In [ ]:
def cub(lis):
  o = []
  for i in lis:
    if i % 2 != 0:
      o.append(i**3)
  return o

lists = [1,2,3,4,5]
cub(lists)

[1, 27, 125]

In [ ]:
def cubs(li):
  res = [i**3 for i in li if i % 2 != 0]
  return res

lists = [1,2,3,4,5]
cubs(lists)

[1, 27, 125]

In [ ]:
def sum(a, b, c):
  return a + b + c

sum(1,2,3)

6

In [ ]:
def sum(a = 0, b = 0, c = 0):
  return a + b + c
sum(2,6)
sum(5,6,7)

18

In [ ]:
def read(*args):
  for i in args:
    return i

a = [1,2,3,4,5,6,7,8,9]
read(a)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
def sum(*num):
  s = 0
  for i in num:
    s += i
  return s

In [ ]:
sum(2,3,4,5,6,7,8,)

35

branch_and_subjects_in_graduation>> number of subjects and branch which will be mandate input

In [ ]:
def branch_and_subjects_in_graduation(*subjects, branch):
  print(f"My branch is {branch}")
  return f"I like these subjects in graduation {subjects}"

In [ ]:
branch_and_subjects_in_graduation('DSP','SP','DE','AE', branch = 'Electronics')

My branch is Electronics

"I like these subjects in graduation ('DSP', 'SP', 'DE', 'AE')"

In [ ]:
def key_word(**kwargs):
  for i , j in kwargs.items():
     print (f'subject = {i} , marks is that = {j}')


key_word(Digital_Image_Processing = 78, Microprocessor= 79, Signals_and_systems=83)

subject = Digital_Image_Processing , marks is that = 78
subject = Microprocessor , marks is that = 79
subject = Signals_and_systems , marks is that = 83

In [ ]:
def marks_in_subjects(**kwargs):

  def total_marks(marks_list):
    return sum(marks_list)

  marks_list = list()
  for i, j in kwargs.items():
    marks_list.append(j)
    print(f'Subjects = {i} Marks secured = {j}')
  return total_marks(marks_list)


marks_in_subjects(Digital_Image_Process = 79, Microprocess = 82, Digital_Analytics = 82, Maths = 90)

Subjects = Digital_Image_Process Marks secured = 79
Subjects = Microprocess Marks secured = 82
Subjects = Digital_Analytics Marks secured = 82
Subjects = Maths Marks secured = 90

333

In [ ]:
def add(num1 : int , num2 : int ) -> int:
  ''' add tow number '''
  num3 = num1 + num2
  return num3



# Driver code
num1, num2 = 5, 15
ans = add(num1, num2)
print(f"The addition of {num1} and {num2} results {ans}.")

The addition of 5 and 15 results 20.

In [ ]:
add('Md', 'Azaz')

'MdAzaz'

In [2]:
iterator_value = 'Hi Everyone'
iterable_obj = iter(iterator_value)

while True:
  item = next(iterable_obj)
  print(item)

H
i

E
v
e
r
y
o
n
e

StopIteration:

In [3]:
mytuple = ("apple", "banana", "cherry")
my_it = iter(mytuple)

In [4]:
next(my_it)

'apple'

In [5]:
mystr = "PWSkills"
myit = iter(mystr)

print(next(myit))
print(next(myit))
print(next(myit))
print(next(myit))
print(next(myit))
print(next(myit))
print(next(myit))
print(next(myit))
print(next(myit))

P
W
S
k
i
l
l
s

StopIteration:

In [7]:
name  = "md azaz"
it = iter(name)

In [8]:
while True:
  try:
    item = next(it)
    print(item)
  except StopIteration:
    break

m
d

a
z
a
z

In [ ]:
def find_power(number, power):
    """This function returns the power of the number

    Args:
        number (int): insert any integer value
        power (int): insert any integer value

    Returns:
        integer: power of number
    """
    return number**power

number = 5
power = 3
result = find_power(number, power)

print(f"{number} to the power of {power} is {result}")

In [10]:
result = lambda number , power : number ** power

result(3 ,2)

9

In [11]:
is_even = lambda x : x%2 ==0
is_even(8)

True

.Multiple arguments to Lambda function:a and b are the arguments and a+b is the expression which gets evaluated and returned.

In [12]:
x = lambda a,b : a+b
x(2,2)

4

In [14]:
def table(x):
  for i in range(1,11):
    res = x * i
    print(f"{x} * {i} = {res}")


table(2)

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20

In [15]:
n = int(input("Enter the number?"))
b = lambda a :a * n
for i in range(1,11):
    print(n,"X",i,"=",b(i))

Enter the number?5
5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45
5 X 10 = 50

In [18]:
x = lambda n : [f'{n} * {i}  = {n*i}' for i in range(1,11)]
x(5)

['5 * 1  = 5',
 '5 * 2  = 10',
 '5 * 3  = 15',
 '5 * 4  = 20',
 '5 * 5  = 25',
 '5 * 6  = 30',
 '5 * 7  = 35',
 '5 * 8  = 40',
 '5 * 9  = 45',
 '5 * 10  = 50']

In [19]:
s = lambda a, b, c : a+b+c
s(2,3,4)

9

Map function

The map() function in Python is used to apply a specified function to each item in an iterable (like a list) and returns an iterator that yields the results. It's a way to efficiently perform operations on all elements of a sequence without using explicit loops.

map(function, iterable)

function: A function that will be applied to each item of the iterable.
iterable: An iterable (e.g., list, tuple, etc.) whose elements will be passed to the function one by one.

In [20]:
def square(x):
    return x * x
numbers = [1, 2, 3, 4, 5]

square(numbers)

TypeError: can't multiply sequence by non-int of type 'list'

In [23]:
numbers = [1, 2, 3, 4, 5]

list(map(square , numbers))

[1, 4, 9, 16, 25]

In [24]:
numbers = [1, 2, 3, 4, 5]

tuple(map(str, numbers))

('1', '2', '3', '4', '5')

In [26]:
# Applying the built-in function 'len' to a list of strings
words = ['apple', 'banana', 'orange', 'kiwi']
list(map(len , words))

[5, 6, 6, 4]

In [27]:
words = ['apple', 'banana', 'orange', 'kiwi']

for i in words:
  print(len(i))

5
6
6
4

Lambda with Map Syntax:

map(lambda arguments: expression, iterable)

In [28]:
n = [2,11,5,7]
print(list(map(lambda x : x>10 , n)))

[False, True, False, False]

In [29]:
n = [2,11,5,7]
print(list(map(lambda x : x**2 , n)))

[4, 121, 25, 49]

Create lambda function calculate the remainder after dividing each number by 2?

In [30]:
numbers_list = [2, 6, 8, 10, 11, 4, 12, 7, 13, 17, 0, 3, 21]
print(list(map(lambda x: x%2, numbers_list)))

[0, 0, 0, 0, 1, 0, 0, 1, 1, 1, 0, 1, 1]

In [33]:
list_a = [1, 2, 3]
list_b = [10, 20, 30]
list_a + list_b

[1, 2, 3, 10, 20, 30]

In [34]:
print(list(map(lambda x, y : x+y, list_a, list_b)))

[11, 22, 33]

Filter Function

The filter() function in Python is used to construct an iterator from elements of an iterable (such as a list) for which a specified function returns True. It's an elegant way to filter elements based on a given condition.

Filter Function syntax:

In [37]:
def is_even(num):
    return num % 2 == 0

numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [38]:
for i in numbers:
  result = is_even(i)
  if result == True:
    print(i)

2
4
6
8
10

In [39]:
list(filter(is_even , numbers))

[2, 4, 6, 8, 10]

In [40]:
# List of strings
l = ['sat', 'bat', 'cat', 'mat']

# map() can listify the list of strings individually
test = list(map(list, l))
print(test)

[['s', 'a', 't'], ['b', 'a', 't'], ['c', 'a', 't'], ['m', 'a', 't']]

In [41]:
list('abc')

['a', 'b', 'c']

In [42]:
words = ['apple', 'banana', 'orange', 'kiwi', 'pineapple']

def filter_by_length(word):
    return len(word) > 5

filtered_words = filter(filter_by_length, words)
print(list(filtered_words))

['banana', 'orange', 'pineapple']

In [43]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print(list(filter(lambda x : x>5 , numbers)))

[6, 7, 8, 9, 10]

Reduce Function

The reduce() function, previously part of the core Python functools module (now in the functools submodule for Python 3 onwards), is used to perform a repetitive operation on a sequence of elements until only one value remains. The function accumulates the results of a binary function (that takes two arguments) as it traverses the sequence from left to right.

Reduce Function Syntax:

In [47]:
from functools import reduce
def find_max(x, y):
    return x if x > y else y

In [46]:
numbers = [3, 7, 2, 9, 1, 4, 6]
print(reduce(find_max, numbers))

9

In [48]:
numbers = [3, 7, 2, 9, 1, 4, 6]

reduce(lambda x, y: x * y, numbers)

9072

In [49]:
from itertools import accumulate

In [50]:
list(accumulate(numbers, lambda x, y: x * y))

[3, 21, 42, 378, 378, 1512, 9072]