<a href="https://colab.research.google.com/github/azaz9026/Python_Notes/blob/main/Object_Oriented_Programming.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy
import pandas
print(type(numpy))
print(type(pandas))
print(type(list))
print(type(7))

<class 'module'>
<class 'module'>
<class 'type'>
<class 'int'>

In [4]:
import numpy as np

In [18]:
class Car:
  car_count = 0

  def __init__(self,color, model):
    self.color = color
    self.model = model
    Car.car_count +=1

  def display_info(self):
    print(f'car {self.color} and Model is that {self.model}')

In [20]:
car1 = Car('Red', 'Sedan')
car2 = Car('Black', 'SUV')

car1
car2

In [22]:
car1.display_info()

car Red and Model is that Sedan

In [23]:
Car.car_count

3

Let's understand the keywords one by one

class ClassName: The class definition begins with this line. ClassName is the class's name and should adhere to Python naming rules (often in CamelCase)

Camelcase is a naming protocol for giving file or attribute names that contain more than one word joined that all start with a capital letter. Camelcase is a programming language that allows you to name files or functions without breaking the underlying language's naming rules.

Camel case name examples - CamelCase, EmployeeData, VehicleInformation etc.

Class-level attributes (optional): You can define attributes that are shared by all instances of the class within the class. These are declared directly within the class, separate from any methods.
Constructor method (init method): When an object is formed, this special method is used to initialise instance-level attributes. When an object is instantiated, it automatically calls this method. It requires at least one parameter, which is usually named self and relates to the instance being created. Additional options can be defined as needed to initialise instance attributes.
Instance attributes: You assign values to instance attributes using self inside the init method. These properties are unique to each instance and contain data specific to that instance.
Instance methods: These are functions defined within the class that define the class's behaviour. To access and edit instance characteristics, they use self as their first parameter. You can define as many methods as you need to implement the class's intended functionality.

In [25]:
class Dog:
  species = 'Cannis Familaris'

  def __init__(self , name , age):
    self.name = name
    self.age = age


  def bark(self):
    print(f"{self.name} and it's Age is that {self.age}")

In [37]:
dog1 = Dog('Ginger', 9)
dog2 = Dog('Tiger', 10)

dog1.bark()
dog2.bark()

Dog.species

Ginger and it's Age is that 9
Tiger and it's Age is that 10

'Cannis Familaris'

In [36]:
dog1.name

'Ginger'

In [35]:
dog1.age

9

In [34]:
dog2.name

'Tiger'

In [33]:
dog2.age

10

In [38]:
class Student:

  uni_name = 'Physics Wallah University'

  def __init__(self, name, student_id, major):
    self.name = name
    self.student_id = student_id
    self.major = major
    self.courses = []

  def enroll_course(self, course):
    self.courses.append(course)
    print(f"{self.name} enrolled in course {course}")

  def display_courses(self):
    print(f'Courses taken by {self.name}')
    for i in self.courses:
      print(i)

In [39]:
student1 = Student("Alice", "S12345", "Computer Science")
student2 = Student("Bob", "S54321", "Physics")

In [40]:
print(f"{student1.name} is a student at {student1.uni_name} majoring in {student1.major}.")
student1.enroll_course("Math 101")
student1.enroll_course("Computer Science 201")
student2.enroll_course("Physics 101")
student2.enroll_course("Lab 202")

Alice is a student at Physics Wallah University majoring in Computer Science.
Alice enrolled in course Math 101
Alice enrolled in course Computer Science 201
Bob enrolled in course Physics 101
Bob enrolled in course Lab 202

In [41]:
student1.display_courses()

Courses taken by Alice
Math 101
Computer Science 201

In [42]:
student2.display_courses()

Courses taken by Bob
Physics 101
Lab 202

In [43]:
class Bank_Account:

  def __init__(self , name , account_number, balance):
    self.name = name
    self.account_number = account_number
    self.balance = balance

  def deduct_money(self, fee):
    if fee > self.balance:
      print(f'You do not have sufficient ammount')
    else:
      self.balance -=fee
      print(f'Rs.{fee} has been debited. You have {self.balance} in your account')

  def display_cum(self):
    print(f"Account Number: {self.account_number}, Balance : {self.balance}")

In [44]:
cust1 = Bank_Account('Jeff Bezoz', 2435, 10e10 )

In [47]:
cust1.balance

100000000000.0

In [50]:
cust1.name = "azaz"
cust1.name

'azaz'