In [ ]:
def firstFunction():
  print("Hello Students")

In [ ]:
firstFunction()

Hello Students

In [ ]:
def add(a,b):
  sum = a+b
  return sum

In [ ]:
print(add(10,20))

30

In [ ]:
x = 101 #Global Variable/scope

def func():
  x = 102
  print(x)

func()
print(x)

102
101

In [ ]:
#Default argument


def greet(name, message="Good Morning"):
  print(name, message)

greet("Vishwa")

Vishwa Good Morning

In [ ]:
#keyword arguments
def greet(name, age, message):
  print(message, name, "your age is", age)

greet(age=99, message="Hello",name="Vishwa")

Hello Vishwa your age is 99

In [ ]:
#positional arguments

def add_numbers(x, y):
  print("x ", x)
  print("y ", y)
  print(x+y)

add_numbers(6,5)

x  6
y  5
11

In [ ]:
def sum_numbers(*args):
  print(type(args))
  print(args)

  sum = 0
  for num in args :
    sum +=num
  return sum

In [ ]:
print(sum_numbers(1,2,3,4,5))

<class 'tuple'>
(1, 2, 3, 4, 5)
15

In [ ]:
def fn(a,b,*args):
  print(a)
  print(b)
  print(args)
  print(*args)


fn(5,6,7,8,9)

5
6
(7, 8, 9)
7 8 9

In [ ]:
def fn(*args,a,b):
  print(a)
  print(b)
  print(args)
  print(*args)


fn(5,6,7,8,9)

TypeError: fn() missing 2 required keyword-only arguments: 'a' and 'b'

In [ ]:
def fn(*args,a,b):
  print(a)
  print(b)
  print(args)
  print(*args)


fn(5,6,7,a=8,b=9)

8
9
(5, 6, 7)
5 6 7

In [ ]:
def display_info(**kwargs):
  print(kwargs)
  print(type(kwargs))

  for key, value in kwargs.items():
    print(key ," -> " ,value)

In [ ]:
display_info(name="Vishwa", age=99, city = "Bangalore")

{'name': 'Vishwa', 'age': 99, 'city': 'Bangalore'}
<class 'dict'>
name  :  Vishwa
age  :  99
city  :  Bangalore

In [ ]:
def func (a, b, *args, **kwargs):
  print(a)
  print(b)
  print(args)
  print(kwargs)


func(5,6,7,8,9,name="Vishwa", age=99)

5
6
(7, 8, 9)
{'name': 'Vishwa', 'age': 99}

In [ ]:
def func1(**kwargs, a,b):
  print(kwargs)
  print(a)
  print(b)


func1(name="Vishwa",age=99, 7,9)

SyntaxError: invalid syntax (<ipython-input-37-d0c180f4061d>, line 1)

In [ ]:
def add_numbers(a : int,b : int)-> int :
  return a+b

In [ ]:
print(add_numbers(5.5,7.7))

13.2

In [ ]:
def outer():
  print("Hello from the outer")

  def inner():
    print("Hello from the inner")

  return inner

In [ ]:
fn = outer()

Hello from the outer

In [ ]:
fn()

Hello from the inner

In [ ]:
outer()()

Hello from the outer
Hello from the inner

In [ ]:
#Pass by Value

num = 5

def modify_num(num):
  num +=1
  print(num)

modify_num(num)

print("Original num", num)

6
Original num 5

In [ ]:
# Immutable datatypes : Numbers, String, tuple -- Passed by Value

In [ ]:
# Pass by reference : -> Mutable datatypes : List, Disctionary

In [ ]:
my_list = [1,2,4]

def modify_list(li):
  li.append(5)
  print(li)

print("Before calling fun", my_list)

modify_list(my_list)

print("After calling fun", my_list)

Before calling fun [1, 2, 4]
[1, 2, 4, 5]
After calling fun [1, 2, 4, 5]

In [ ]:
#Lambda functions

func = lambda x : x+10

print(func(5))

15

In [ ]:
add = lambda a , b : a+b

print(add(5,6))

11

In [ ]:
def myFunc() :
  #return a new function
  return lambda msg : print(msg)

myFunc()("Hello World")

Hello World