In [32]:
pip install pymongo

Requirement already satisfied: pymongo in c:\users\mdaza\appdata\local\programs\python\python310\lib\site-packages (4.6.1)
Requirement already satisfied: dnspython<3.0.0,>=1.16.0 in c:\users\mdaza\appdata\local\programs\python\python310\lib\site-packages (from pymongo) (2.5.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip available: 22.2.2 -> 24.0
[notice] To update, run: python.exe -m pip install --upgrade pip

In [33]:
from pymongo import  MongoClient

client  = MongoClient('localhost:27017')

In [34]:
client.server_info()

{'version': '7.0.2',
 'gitVersion': '02b3c655e1302209ef046da6ba3ef6749dd0b62a',
 'targetMinOS': 'Windows 7/Windows Server 2008 R2',
 'modules': [],
 'allocator': 'tcmalloc',
 'javascriptEngine': 'mozjs',
 'sysInfo': 'deprecated',
 'versionArray': [7, 0, 2, 0],
 'openssl': {'running': 'Windows SChannel'},
 'buildEnvironment': {'distmod': 'windows',
  'distarch': 'x86_64',
  'cc': 'cl: Microsoft (R) C/C++ Optimizing Compiler Version 19.31.31107 for x64',
  'ccflags': '/nologo /WX /FImongo/platform/basic.h /fp:strict /EHsc /W3 /wd4068 /wd4244 /wd4267 /wd4290 /wd4351 /wd4355 /wd4373 /wd4800 /wd4251 /wd4291 /we4013 /we4099 /we4930 /errorReport:none /MD /O2 /Oy- /bigobj /utf-8 /permissive- /Zc:__cplusplus /Zc:sizedDealloc /volatile:iso /diagnostics:caret /std:c++20 /Gw /Gy /Zc:inline',
  'cxx': 'cl: Microsoft (R) C/C++ Optimizing Compiler Version 19.31.31107 for x64',
  'cxxflags': '/TP',
  'linkflags': '/nologo /DEBUG /INCREMENTAL:NO /LARGEADDRESSAWARE /OPT:REF',
  'target_arch': 'x86_64',
  'target_os': 'windows',
  'cppdefines': 'SAFEINT_USE_INTRINSICS 0 PCRE2_STATIC NDEBUG BOOST_ALL_NO_LIB _UNICODE UNICODE _SILENCE_CXX17_ALLOCATOR_VOID_DEPRECATION_WARNING _SILENCE_CXX17_OLD_ALLOCATOR_MEMBERS_DEPRECATION_WARNING _SILENCE_CXX17_CODECVT_HEADER_DEPRECATION_WARNING _SILENCE_ALL_CXX20_DEPRECATION_WARNINGS _CONSOLE _CRT_SECURE_NO_WARNINGS _ENABLE_EXTENDED_ALIGNED_STORAGE _SCL_SECURE_NO_WARNINGS _WIN32_WINNT 0x0A00 BOOST_USE_WINAPI_VERSION 0x0A00 NTDDI_VERSION 0x0A000000 ABSL_FORCE_ALIGNED_ACCESS BOOST_ENABLE_ASSERT_DEBUG_HANDLER BOOST_FILESYSTEM_NO_CXX20_ATOMIC_REF BOOST_LOG_NO_SHORTHAND_NAMES BOOST_LOG_USE_NATIVE_SYSLOG BOOST_LOG_WITHOUT_THREAD_ATTR BOOST_MATH_NO_LONG_DOUBLE_MATH_FUNCTIONS BOOST_SYSTEM_NO_DEPRECATED BOOST_THREAD_USES_DATETIME BOOST_THREAD_VERSION 5'},
 'bits': 64,
 'debug': False,
 'maxBsonObjectSize': 16777216,
 'storageEngines': ['devnull', 'wiredTiger'],
 'ok': 1.0}

In [35]:
## new Databased

db = client['pwskills']

In [36]:
## new collection

collection = db['my_collections']

In [37]:
import pandas as pd

df = pd.read_csv('company1.csv')

df

    EEID      Name gender   salary
0  EMP01    ayushi      F      NaN
1  EMP02     rohit      M  25000.0
2  EMP03  pranjali    NaN  27000.0
3  EMP01    ayushi      F  20000.0
4  EMP05       NaN      M  25000.0
5  EMP06     rohit      M      NaN
6  EMP02     rohit      M  25000.0

In [38]:
df.shape

(7, 4)

In [39]:
df.to_dict('records')

[{'EEID': 'EMP01', 'Name': 'ayushi', 'gender': 'F', 'salary': nan},
 {'EEID': 'EMP02', 'Name': 'rohit', 'gender': 'M', 'salary': 25000.0},
 {'EEID': 'EMP03', 'Name': 'pranjali', 'gender': nan, 'salary': 27000.0},
 {'EEID': 'EMP01', 'Name': 'ayushi', 'gender': 'F', 'salary': 20000.0},
 {'EEID': 'EMP05', 'Name': nan, 'gender': 'M', 'salary': 25000.0},
 {'EEID': 'EMP06', 'Name': 'rohit', 'gender': 'M', 'salary': nan},
 {'EEID': 'EMP02', 'Name': 'rohit', 'gender': 'M', 'salary': 25000.0}]

In [40]:
collection.insert_many(df.to_dict('records'))

InsertManyResult([ObjectId('65c852aeeff6729376cbc35b'), ObjectId('65c852aeeff6729376cbc35c'), ObjectId('65c852aeeff6729376cbc35d'), ObjectId('65c852aeeff6729376cbc35e'), ObjectId('65c852aeeff6729376cbc35f'), ObjectId('65c852aeeff6729376cbc360'), ObjectId('65c852aeeff6729376cbc361')], acknowledged=True)

*** CRUD METHOD ***

In [30]:
##  CREATE METHOD------------

collection.insert_one({
    'name': 'azaz' , 
    'age': 21,
    'lang': 'Python',
    'batch': 'decode 1.0'
})

InsertOneResult(ObjectId('65c84f97eff6729376cbc359'), acknowledged=True)

In [31]:
client.close()

In [48]:
## find method -----------

result = list(collection.find().limit(2).skip(2))

In [49]:
len(result)

2

In [50]:
for i in result:
    print(i)

{'_id': ObjectId('65c84df3eff6729376cbc354'), 'EEID': 'EMP03', 'Name': 'pranjali', 'gender': nan, 'salary': 27000.0}
{'_id': ObjectId('65c84df3eff6729376cbc355'), 'EEID': 'EMP01', 'Name': 'ayushi', 'gender': 'F', 'salary': 20000.0}

In [54]:
res = (collection.find({'age':21}))

for i in res:
    print(i)

{'_id': ObjectId('65c84f97eff6729376cbc359'), 'name': 'azaz', 'age': 21, 'lang': 'Python', 'batch': 'decode 1.0'}

In [58]:
res = list(collection.find())

for i in res:
    print(i)

{'_id': ObjectId('65c84df3eff6729376cbc352'), 'EEID': 'EMP01', 'Name': 'ayushi', 'gender': 'F', 'salary': nan}
{'_id': ObjectId('65c84df3eff6729376cbc353'), 'EEID': 'EMP02', 'Name': 'rohit', 'gender': 'M', 'salary': 25000.0}
{'_id': ObjectId('65c84df3eff6729376cbc354'), 'EEID': 'EMP03', 'Name': 'pranjali', 'gender': nan, 'salary': 27000.0}
{'_id': ObjectId('65c84df3eff6729376cbc355'), 'EEID': 'EMP01', 'Name': 'ayushi', 'gender': 'F', 'salary': 20000.0}
{'_id': ObjectId('65c84df3eff6729376cbc356'), 'EEID': 'EMP05', 'Name': nan, 'gender': 'M', 'salary': 25000.0}
{'_id': ObjectId('65c84df3eff6729376cbc357'), 'EEID': 'EMP06', 'Name': 'rohit', 'gender': 'M', 'salary': nan}
{'_id': ObjectId('65c84df3eff6729376cbc358'), 'EEID': 'EMP02', 'Name': 'rohit', 'gender': 'M', 'salary': 25000.0}
{'_id': ObjectId('65c84f97eff6729376cbc359'), 'name': 'azaz', 'age': 21, 'lang': 'Python', 'batch': 'decode 1.0'}
{'_id': ObjectId('65c852aeeff6729376cbc35b'), 'EEID': 'EMP01', 'Name': 'ayushi', 'gender': 'F', 'salary': nan}
{'_id': ObjectId('65c852aeeff6729376cbc35c'), 'EEID': 'EMP02', 'Name': 'rohit', 'gender': 'M', 'salary': 25000.0}
{'_id': ObjectId('65c852aeeff6729376cbc35d'), 'EEID': 'EMP03', 'Name': 'pranjali', 'gender': nan, 'salary': 27000.0}
{'_id': ObjectId('65c852aeeff6729376cbc35e'), 'EEID': 'EMP01', 'Name': 'ayushi', 'gender': 'F', 'salary': 20000.0}
{'_id': ObjectId('65c852aeeff6729376cbc35f'), 'EEID': 'EMP05', 'Name': nan, 'gender': 'M', 'salary': 25000.0}
{'_id': ObjectId('65c852aeeff6729376cbc360'), 'EEID': 'EMP06', 'Name': 'rohit', 'gender': 'M', 'salary': nan}
{'_id': ObjectId('65c852aeeff6729376cbc361'), 'EEID': 'EMP02', 'Name': 'rohit', 'gender': 'M', 'salary': 25000.0}

In [60]:
res = list(collection.find().sort('EEID'))

for i in res:
    print(i)

{'_id': ObjectId('65c84f97eff6729376cbc359'), 'name': 'azaz', 'age': 21, 'lang': 'Python', 'batch': 'decode 1.0'}
{'_id': ObjectId('65c84df3eff6729376cbc352'), 'EEID': 'EMP01', 'Name': 'ayushi', 'gender': 'F', 'salary': nan}
{'_id': ObjectId('65c84df3eff6729376cbc355'), 'EEID': 'EMP01', 'Name': 'ayushi', 'gender': 'F', 'salary': 20000.0}
{'_id': ObjectId('65c852aeeff6729376cbc35b'), 'EEID': 'EMP01', 'Name': 'ayushi', 'gender': 'F', 'salary': nan}
{'_id': ObjectId('65c852aeeff6729376cbc35e'), 'EEID': 'EMP01', 'Name': 'ayushi', 'gender': 'F', 'salary': 20000.0}
{'_id': ObjectId('65c84df3eff6729376cbc353'), 'EEID': 'EMP02', 'Name': 'rohit', 'gender': 'M', 'salary': 25000.0}
{'_id': ObjectId('65c84df3eff6729376cbc358'), 'EEID': 'EMP02', 'Name': 'rohit', 'gender': 'M', 'salary': 25000.0}
{'_id': ObjectId('65c852aeeff6729376cbc35c'), 'EEID': 'EMP02', 'Name': 'rohit', 'gender': 'M', 'salary': 25000.0}
{'_id': ObjectId('65c852aeeff6729376cbc361'), 'EEID': 'EMP02', 'Name': 'rohit', 'gender': 'M', 'salary': 25000.0}
{'_id': ObjectId('65c84df3eff6729376cbc354'), 'EEID': 'EMP03', 'Name': 'pranjali', 'gender': nan, 'salary': 27000.0}
{'_id': ObjectId('65c852aeeff6729376cbc35d'), 'EEID': 'EMP03', 'Name': 'pranjali', 'gender': nan, 'salary': 27000.0}
{'_id': ObjectId('65c84df3eff6729376cbc356'), 'EEID': 'EMP05', 'Name': nan, 'gender': 'M', 'salary': 25000.0}
{'_id': ObjectId('65c852aeeff6729376cbc35f'), 'EEID': 'EMP05', 'Name': nan, 'gender': 'M', 'salary': 25000.0}
{'_id': ObjectId('65c84df3eff6729376cbc357'), 'EEID': 'EMP06', 'Name': 'rohit', 'gender': 'M', 'salary': nan}
{'_id': ObjectId('65c852aeeff6729376cbc360'), 'EEID': 'EMP06', 'Name': 'rohit', 'gender': 'M', 'salary': nan}