In [1]:
pip install mysql-connector-python

Collecting mysql-connector-python
  Downloading mysql_connector_python-8.3.0-cp310-cp310-win_amd64.whl (15.4 MB)
     ---------------------------------------- 15.4/15.4 MB 2.9 MB/s eta 0:00:00
Installing collected packages: mysql-connector-python
Successfully installed mysql-connector-python-8.3.0
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip available: 22.2.2 -> 24.0
[notice] To update, run: python.exe -m pip install --upgrade pip

In [2]:
import mysql.connector

In [5]:
connection = mysql.connector.Connect(host = 'localhost' , database = 'car_database' , user = 'root' , password = 'azaz' )

cursor = connection.cursor()

In [6]:
cursor.execute('select * from car_details')

In [7]:
result = cursor.fetchall()

result

[('tata indigo', 2009, 20000, 15000, 'Deiesl')]

In [9]:
import pandas as pd

df = pd.DataFrame(result)

df

             0     1      2      3       4
0  tata indigo  2009  20000  15000  Deiesl