***Text File***

In [4]:
text = '''
example 1
example 2
example 3
example 4
'''

In [5]:
with open("example.txt" , 'w') as file:
    file.write(text)

In [6]:
with open('example.txt' , 'r') as file:
    data = file.read()

In [7]:
print(data)

example 1
example 2
example 3
example 4

***CSV File***

In [8]:
data = [
    ["Name" , 'Course' , 'Fee'],
    ["Azaz" , 'Ds' , '1000'],
    ["lux" , 'wed Dev' , '2000']
]

data

[['Name', 'Course', 'Fee'], ['Azaz', 'Ds', '1000'], ['lux', 'wed Dev', '2000']]

In [9]:
for i in data:
    print(i)

['Name', 'Course', 'Fee']
['Azaz', 'Ds', '1000']
['lux', 'wed Dev', '2000']

In [20]:
import csv

with open("data.csv" , 'w') as d:
   w =  csv.writer(d)
   for i in data:
     w.writerow(i)

In [23]:
with open("data.csv" , 'r') as f:
    r = csv.reader(f)
    for i in r:
        print(i)

['Name', 'Course', 'Fee']
[]
['Azaz', 'Ds', '1000']
[]
['lux', 'wed Dev', '2000']
[]